pkgbase = hbkit
	pkgdesc = Recover files from Synology Hyper Backup (.hbk) archives without Synology software
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/YordiLorenzo/hbkit
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-pynacl
	depends = python-cryptography
	optdepends = rclone: mount S3/R2 buckets holding an archive
	source = hbkit-0.4.2.tar.gz::https://files.pythonhosted.org/packages/source/h/hbkit/hbkit-0.4.2.tar.gz
	sha256sums = 250e86bab2290c30fcd162544203e40bbff269837853068a4ce0aca577b2d741

pkgname = hbkit
