pkgbase = hbkit
	pkgdesc = Recover files from Synology Hyper Backup (.hbk) archives without Synology software
	pkgver = 0.4.3
	pkgrel = 1
	url = https://github.com/YordiLorenzo/hbkit
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-pynacl
	depends = python-cryptography
	optdepends = rclone: mount S3/R2 buckets holding an archive
	source = hbkit-0.4.3.tar.gz::https://files.pythonhosted.org/packages/source/h/hbkit/hbkit-0.4.3.tar.gz
	sha256sums = 2753d2463a8a9c4f57d9a2073fb0860913bba9f02f87a9228dec4c8cf092dd65

pkgname = hbkit
